In [2]:
import pandas as pd 
import numpy as np

In [3]:
#uploding data into a python
job_data = pd.read_csv(r"E:\NaukriData_Data Science.csv")

#find a rows and columns 
job_data.shape

(47191, 8)

In [4]:
# top 10 rows 
job_data.head(10)
# column names 
job_data.columns

Index(['Job_Titles', 'Company_Names', 'Experience_Required', 'Package_Details',
       'Locations', 'Skills', 'Post_Url', 'Post_Time'],
      dtype='object')

In [5]:
# getting a info of a data 
job_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47191 entries, 0 to 47190
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Job_Titles           33633 non-null  object
 1   Company_Names        35823 non-null  object
 2   Experience_Required  35988 non-null  object
 3   Package_Details      38632 non-null  object
 4   Locations            39164 non-null  object
 5   Skills               38029 non-null  object
 6   Post_Url             39841 non-null  object
 7   Post_Time            39881 non-null  object
dtypes: object(8)
memory usage: 2.9+ MB

In [6]:
#Rename columns
job_data.columns = (
    job_data.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

job_data.columns

Index(['job_titles', 'company_names', 'experience_required', 'package_details',
       'locations', 'skills', 'post_url', 'post_time'],
      dtype='object')

In [7]:
#Handle missing values
job_data.isna().sum()

job_data.replace(
    ["Not disclosed", "None", "none", "null", ""],
    np.nan,
    inplace=True
)

job_data

,job_titles,company_names,experience_required,package_details,locations,skills,post_url,post_time
0,Senior Manager - Data Science,AMERICAN EXPRESS,4-8 Yrs,NaN,Gurgaon/Gurugram,Text miningCareer developmentdata scienceFinan...,https://www.naukri.com/job-listings-senior-man...,1 Day Ago
1,Advance Analytical and Data Sciences -Manager,G R Infraprojects,6-10 Yrs,NaN,"Gurgaon/ Gurugram, Haryana",Advanced Statistical AnalysisData Governance a...,https://www.naukri.com/job-listings-advance-an...,7 Days Ago
2,Manager - Digital Product Analytics [Data Scie...,Resy,4-8 Yrs,NaN,Gurgaon/Gurugram,Product managementCareer developmentOperations...,https://www.naukri.com/job-listings-manager-di...,4 Days Ago
3,Data Science Manager,Foreign IT Consulting MNC,1-3 Yrs,NaN,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Change managementSASCodingData miningPythonRst...,NaN,10 Days Ago
4,Data Science Manager,Fortune India 500 Company in FMCG,4-9 Yrs,NaN,Bangalore/Bengaluru,Data analysisdata scienceAnalyticalPredictive ...,NaN,1 Day Ago
...,...,...,...,...,...,...,...,...
47186,NaN,NaN,NaN,NaN,NaN,NaN,https://www.naukri.com/job-listings-data-scien...,NaN
47187,NaN,NaN,NaN,NaN,NaN,NaN,https://www.naukri.com/job-listings-data-scien...,NaN
47188,NaN,NaN,NaN,NaN,NaN,NaN,https://www.naukri.com/job-listings-head-data-...,NaN
47189,NaN,NaN,NaN,NaN,NaN,NaN,https://www.naukri.com/job-listings-data-scien...,NaN
47190,NaN,NaN,NaN,NaN,NaN,NaN,https://www.naukri.com/job-listings-senior-dat...,NaN

In [8]:
# rechecked
job_data.isna().sum()

job_titles             13558
company_names          11368
experience_required    11203
package_details        43025
locations               8027
skills                  9162
post_url                7350
post_time               7310
dtype: int64

In [11]:
#Clean EXPERIENCE column
job_data["experience"] = (
    job_data["experience_required"]
    .str.extract(r"(\d+)")
    .astype(float)
)
job_data["experience"].head()

0    4.0
1    6.0
2    4.0
3    1.0
4    4.0
Name: experience, dtype: float64

In [14]:
#clean loctation column 

job_data["locations"] = (
    job_data["locations"]
    .str.split("/")
    .str[0]
)

job_data["locations"].head(2)

0    Gurgaon
1    Gurgaon
Name: locations, dtype: object

In [25]:
job_data["location"].value_counts().head(10)

location_clean
Bangalore                                9365
Gurgaon                                  6554
Hyderabad                                4133
Remote                                   3172
Mumbai, Hyderabad                        2963
Kolkata, Mumbai, New Delhi, Hyderabad    1778
Noida                                    1737
Delhi                                    1503
Pune, Bangalore                          1482
Faridabad                                1479
Name: count, dtype: int64

In [26]:
job_data["job_titles"].value_counts().head(10)

job_titles
GN - Strategy - MC - T&O - NLP Data Science - Analyst    2492
Data Science Engineer                                    1521
Data Science Lead                                        1250
Data Science Analyst                                     1249
Senior Manager - Data Science                            1247
Senior Manager-Data Science                              1247
Senior Analyst Data Science                              1247
Data Science Domain Manager                              1246
Advance Analytical and Data Sciences -Manager            1246
Data Science - Intern                                    1246
Name: count, dtype: int64

KeyError: 'location'